{% extends 'base.html.twig' %}

{% block title %}RPG - Personnage - {{ perso.nom|capitalize }}{% endblock %}


{% block superTitre %}Personnage - {{ perso.nom|capitalize }} {% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-2">
            <img src="{{ asset('assets/images/personnages/Marc.png') }}" alt="">
        </div>
        <div class="col">
            <h4>Les informations de {{ perso.nom|capitalize }}</h4>
            <div>Job : {{ perso.job|capitalize }}</div>
            <div>Sexe : {{ perso.sexe ? 'Femme' : 'Homme'}}</div>
            <ul>
                <li>Vie : {{ perso.stats.vie }}</li>
                <li>Force : {{ perso.stats.force }}</li>
                <li>Agilité : {{ perso.stats.agilite }}</li>
                <li>Intelligence : {{ perso.stats.intelligence }}</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
